<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="./static/navStyles.css" />
		<!-- need to specify /static under href -->
	</head>
	<body>
		<img id="main_background" src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/world-map-pastel-justyna-jbjart.jpg">

		<ul id="side-nav">
			<li><a class="active" href="./scheduleForm">New Trip</a></li>
			<li><a href="#news">Current Trips </a></li>
			<li><a href="#contact">Future Trips</a></li>
		</ul>

		<div id="top-nav">
			<a class="active" href="#home">[app Name]</a>
			<a href="#news">Username</a>
			<a href="#contact">Settings</a>
			<a href="#about">sign out</a>
		</div>
		<div id="content">

		</div>
	</body>
</html>
